
<span *ngIf = "isEdit" >pid: <input type="text" [(ngModel)] = "product.pid">
pname: <input type="text" [(ngModel)] = "product.pname">
cost: <input type="text" [(ngModel)] = "product.cost">
categoryid: <input type="text" [(ngModel)] = "product.categoryid">
</span>
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 
